@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}

@layer components {
  .btn-primary {
    @apply bg-blue-700 text-white px-6 py-2 rounded-md shadow hover:bg-blue-600 transition;
  }

  .btn-secondary {
    @apply bg-white text-blue-700 px-6 py-2 rounded-md shadow border border-blue-700 hover:bg-gray-100 transition;
  }

  .spinner {
    @apply animate-spin rounded-full h-12 w-12 border-t-4 border-blue-600 border-opacity-75;
  }

  .loading-overlay {
    @apply fixed inset-0 bg-black bg-opacity-50 z-50 flex justify-center items-center;
  }
}
